[Unit]
Description=OLED Display Service
After=mpd.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/GIT/moody_oled/moode_oled_1.54_i2c_szymon.py
ExecStop=/bin/kill -SIGINT $MAINPID
StandardOutput=null
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
